Repository pvogt09/KSOPT_mex, changes with the labels that .github/labeler.yml gives for each.
All labels: Feature:Documentation, Feature:libf2c, Feature:build

ignores files in build directory
  .editorconfig
Labels: none

corrects paths when used as submodule
  +compile/ksopt.m
Labels: Feature:build

moves pull request template to correct location
  .github/pull_request_template.md
Labels: none

adds pyKSOPT/src to ignore list for shellcheck
  .github/workflows/linters.yml
Labels: none

corrects ignore pattern in shellcheck workflow
  .github/workflows/linters.yml
Labels: none

updates version of shellcheck workflow
  .github/workflows/linters.yml
Labels: none

changes shellcheck action version to 0.5.0
  .github/workflows/linters.yml
Labels: none

removes editorconfig errors
  pyKSOPT/build/.gitignore
Labels: Feature:build

add missing files
  pyKSOPT/build/make.bat
  pyKSOPT/build/makef2c.bat
Labels: Feature:build

corrects spellingmistakes
  pyKSOPT/build/makef2c.bat
  pyKSOPT/make.bat
Labels: Feature:build

adds linux compatibility
  +compile/ksopt.m
  .gitignore
  pyKSOPT/ksopt_checkhandle.c
  pyKSOPT/ksopt_optimize.c
  pyKSOPT/libf2c/makefile_shared.u
Labels: Feature:libf2c, Feature:build

add new identifier for anonymous functions without gradient
  pyKSOPT/ksopt_checkhandle.c
Labels: none

updates compile script for linux
  +compile/ksopt.m
  pyKSOPT/build/make.bat
  pyKSOPT/makefile
Labels: Feature:build

updates mex files
  ksopt_optimize.mexa64
  ksopt_optimize.mexw32
  ksopt_optimize.mexw64
Labels: none

.github/labeler.yml:

Feature:Documentation:
  - docs/**/*
  - README.md
Feature:libf2c:
  - pyKSOPT/libf2c/**/*
  - pyKSOPT/libf2c/**/*
Feature:build:
  - +compile/*
  - +compile/**/*
  - pyKSOPT/build/*
  - pyKSOPT/build/**/*
  - /**/make.bat
